body {
    margin: 0;
    height: 100vh;
}

.main p {
    margin: 0;
}

.header, .footer, .main, .menu-primary, .menu-secondary {
    font-size: 1.5rem;
    overflow: hidden;
}

.header, .footer {
    height: 50px;
    background-color: #666;
    color: white;
}

.container {
    height: calc(100% - 100px);
    background-color: #999;
}

.main {
    font-size: 2rem;
    background: #eee;
}

.menu-primary {
    background: #ccc;
}

.menu-secondary {
    background-color: #ddd;
}


/* Flex */

/* .container {
    display: flex;
    flex-wrap: wrap;
}

.main {
    flex-grow: 1;
    order: 2;
}

.menu-primary {
    width: 25%;
    order: 1    ;
}

.menu-secondary {
    width: 25%;
    order: 3;
}

@media only screen and (max-width: 800px) {
    .menu-primary {
        flex-basis: 25%;
        height: 75%;
    }

    .main {
        height: 75%;
    }

    .menu-secondary {
        flex-basis: 100%;
        height: 25%;
    }
}

@media only screen and (max-width: 480px) {
    .menu-primary {
        flex-basis: 100%;
        height: 25%;
    }

    .main {
        height: 50%;
    }

    .menu-secondary {
        flex-basis: 100%;
        height: 25%;
    }
} */

/* Grid */

.main {
    grid-area: m;
}

.menu-primary {   
    grid-area: p;
}

.menu-secondary {
    grid-area: s;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "p m m s";
    grid-gap: 1px;
}

@media only screen and (max-width: 800px) {
    .container {
        grid-template-areas:
        "p m m m"
        "p m m m"
        "p m m m"
        "s s s s";
    }
    
}

@media only screen and (max-width: 480px) {
    .container {
        grid-template-areas:
        "p p p p"
        "m m m m"
        "m m m m"
        "s s s s";
    }
    
}